doctype html
html
  head
    title YouthBOT Tournament View
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')

  body
    nav#sidebar.w3-sidenav.w3-light-grey.w3-card-4.w3-animate-left(style='display:none;')
      header.w3-container.w3-dark-grey
        h5
          | Menu
          a.w3-right.w3-large.w3-closenav(href='javascript:void(0)', onclick='sidebar_close()' style='padding: 0;') x

      mixin tournLinks(name, display)
        if (String(url).includes(name))
          a.w3-teal.w3-hover-opacity(href='/' + name)= display
        else
          a.w3-hover-grey(href='/' + name)= display

      +tournLinks('competition1', '1st Competition')
      +tournLinks('competition2', '2nd Competition')
      +tournLinks('competition3', '3rd Competition')
      +tournLinks('championship', 'Championship')
      +tournLinks('practice', 'Practice')
      +tournLinks('field-testing', 'Field Testing')

    header.w3-container.w3-dark-grey
      h2
        span#opennavbtn.w3-opennav.w3-xlarge(onclick='sidebar_open()') ☰
        | &#32;&#32;
        span#titlebar.ybot-animate(style='margin-left:0px;') My Header

    #main.w3-container(style='margin-top:11px; margin-left:40px; margin-right:40px;')
      block content

  script.
    function sidebar_open() {
        document.getElementById('main').style.marginLeft = '230px';
        document.getElementById('titlebar').style.marginLeft = '220px';
        document.getElementById('sidebar').style.width = '220px';
        document.getElementById('sidebar').style.display = 'block';
        document.getElementById('opennavbtn').style.display = 'none';
      }
      function sidebar_close() {
        document.getElementById('main').style.marginLeft = '40px';
        document.getElementById('titlebar').style.marginLeft = '0';
        document.getElementById("sidebar").style.display = 'none';
        document.getElementById("opennavbtn").style.display = 'inline-block';
      }
