doctype html
html
  head
    title YouthBOT Tournaments
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')

  body
    -var active = 'Standings'

    nav#sidebar.w3-sidenav.w3-card-4.w3-animate-left.ybot-theme-secb(style='display:none;')
      div.w3-container.ybot-theme-seca
        h5
          span
            a.w3-hover-opacity(href='/' style='padding: 0; display: inline;') Standings
          span.w3-right
            a.w3-large.w3-hover-opacity(href='javascript:void(0)', onclick='sidebar_close()' style='padding: 0;') x

      mixin tournLinks(name, display)
        if (String(url).includes(name))
          -active = display
          a.w3-teal.ybot-theme-hover-secc(href='/' + name)= display
        else
          a.ybot-theme-hover-secc(href='/' + name)= display

      +tournLinks('competition1', '1st Competition')
      +tournLinks('competition2', '2nd Competition')
      +tournLinks('competition3', '3rd Competition')
      +tournLinks('championship', 'Championship')
      +tournLinks('practice', 'Practice')
      +tournLinks('field-testing', 'Field Testing')

    header.w3-container.ybot-theme-pri
      h2
        a#opennavbtn.w3-opennav.w3-xlarge(onclick='sidebar_open()') ☰
        | &#32;&#32;
        span#titlebar.ybot-animate(style='margin-left:0px;')= active

    #main.w3-container(style='margin-top:11px; margin-left:40px; margin-right:40px;')
      block content

  script(src='/javascripts/scripts.js')
