doctype html
html
  head
    title YouthBOT Tournaments
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://www.w3schools.com/lib/w3.css')
    script(src='/javascripts/scripts.js')

  body
    -var active = 'Standings'
    -var baseurl ='/'

    #side_nav.w3-top.w3-sidenav.w3-card-4.w3-animate-left.ybot-theme-secb(style='display: none;')
      .w3-container.w3-padding-0
        ul.w3-navbar.ybot-theme-pri
          li
            a.w3-large(href='/' style='padding-right:70px') Standings
          li.w3-right
            a.w3-large(href='javascript:void(0)', onclick='sidebar_close()') x

      mixin tournLinks(name, display)
        if (String(url).includes(name))
          -active = display
          -baseurl = '/' + name
          a.ybot-theme-secc(href='/' + name)= display
        else
          a(href='/' + name)= display

      +tournLinks('competition1', '1st Competition')
      +tournLinks('competition2', '2nd Competition')
      +tournLinks('competition3', '3rd Competition')
      +tournLinks('championship', 'Championship')
      +tournLinks('field-testing', 'Field Testing')

    #header.w3-top
      ul.w3-navbar.ybot-theme-pri
        li
          a.w3-large(href='javascript:void(0)' onclick='sidebar_open()') ☰
        li#header_title.ybot-animate
          a.w3-large(href=baseurl) #{active}
        block links

    #main.w3-container(style='margin-top:53px; margin-left:40px; margin-right:40px; margin-bottom: 40px')
      block content
