extends layout

block content
  .w3-content.w3-card-2
    .ybot-theme-seca
      h3(style='padding-left: 16px;') Login
    form.w3-container(method='post' name='login')
      input.w3-input.w3-border(type='text', name="username", placeholder='Enter Username')
      div(style='margin-top:8px;')
        input.w3-input.w3-border(type='password', name="password", placeholder='Password')
      .w3-right(style='margin-top:8px; margin-bottom:12px;')
        a(href='/' style='margin-right:12px;')
          button.w3-btn.ybot-theme-secc(type="button") Cancel
        button.w3-btn.ybot-theme-seca(type='submit' style='margin-right:2px;') Submit
