.ybot-animate {
  -webkit-transition: -webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s, margin 0.4s;
  -o-transition-property: width,height,-o-transform,background,font-size,opacity;
  -o-transition-duration: 1s,1s,1s,1s,1s,1s;
  -moz-transition-property: width,height,-o-transform,background,font-size,opacity;
  -moz-transition-duration: 1s,1s,1s,1s,1s,1s;
  transition-property: width,height,transform,background,font-size,opacity,margin;
  transition-duration: 1s,1s,1s,1s,1s,1s,0.4s;
}

.ybot-theme-pri, .ybot-theme-hover-pri:hover {
  color: #fff !important;
  /*background-color: #984B43 !important;*/
  background-color: #B56357 !important;
}

.ybot-theme-seca, .ybot-theme-hover-seca:hover {
  color: #000 !important;
  /*background-color: #EAC67A !important;*/
  background-color: #84DBC0 !important;
} 

.ybot-theme-secb, .ybot-theme-hover-secb:hover {
  color: #000 !important;
  /*background-color: #233237 !important;*/
  background-color: #EAE3EA !important;
}

.ybot-theme-secc, .ybot-theme-hover-secc:hover {
  color: #000 !important;
  /*background-color: #18121E !important;*/
  background-color: #A7B3A5 !important;
}
