.ybot-animate {
  -webkit-transition: -webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s, margin 0.4s, padding 0.4s;
  -o-transition-property: width,height,-o-transform,background,font-size,opacity;
  -o-transition-duration: 1s,1s,1s,1s,1s,1s;
  -moz-transition-property: width,height,-o-transform,background,font-size,opacity;
  -moz-transition-duration: 1s,1s,1s,1s,1s,1s;
  transition-property: width,height,transform,background,font-size,opacity,margin, padding;
  transition-duration: 1s,1s,1s,1s,1s,1s,0.4s, 0.4s;
}

.ybot-theme-pri, .ybot-theme-hover-pri:hover {
  color: #fff !important;
  background-color: #B56357 !important;
}

.ybot-theme-seca, .ybot-theme-hover-seca:hover {
  color: #000 !important;
  background-color: #57a9b5 !important;
}

.ybot-theme-secb, .ybot-theme-hover-secb:hover {
  color: #000 !important;
  background-color: #EAE3EA !important;
}

.ybot-theme-secc, .ybot-theme-hover-secc:hover {
  color: #000 !important;
  background-color: #A7B3A5 !important;
}

.ybot-no-decoration {
  text-decoration: none !important;
}

.ybot-anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}
